<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<test name="Run Parallel test with edge">
	<parameter name ="browserParamName" value ="edge"></parameter>
		<classes>
			<class name="automation.testsuite.AddClientTest" /> 
		</classes>	
	</test> 
	
	<test name="Run Parallel test with firefox">
	<parameter name ="browserParamName" value ="firefox"></parameter>
		<classes>
			<class name="automation.testsuite.AddClientTest" /> 
		</classes>	
	</test> 
	
</suite> <!-- Suite -->